@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

body header#dailyView {
     max-height: 40vh;
     min-height: 8vh;
     background-color: #474747;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px 100px;
}

body header#dailyView > div {
     width: 33.3%;
     display: flex;
     align-items: center;
}


body header#dailyView div a{
     color: white;
     font-size: 1.6rem;
     font-family: 'Fira Mono';
}

body header#dailyView .logo a#facundoGarcia{
     font-size: 1.7rem;
     padding-left: 25px;     
}

body header#dailyView .dailyUi{
     font-size: 1.2rem;
     justify-content: center;
}

body header#dailyView .dailyUi a{
     font-size: 1.2rem;
}

body header#dailyView div.dailyUi a i{  
     padding-left: 10px;
     font-size: 0.8rem;
}

div.contactMe{
     justify-content: flex-end;
}

div.contactMe a i{
     font-size: 1.6rem;
     padding: 0px 25px;
}
