 section.newDailyForm {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 73.5vh;
     background-color: #ffffff;
 }
 section.newDailyForm .cajaForm{
     height: 90%;
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transition: all 0.3s ease;
     background-color: #ffffff;

 }

 section.newDailyForm .cajaForm:hover{
      box-shadow: 2px 2px 10px #c0bebe, -2px -2px 10px #cac9c9;
 }
 section.newDailyForm .cajaForm .heading{
     margin-top: 15px;
    width: 60%;
    height: 10%;
    border-bottom: solid 1px rgb(247, 107, 83);
    border-radius: 30px;
    background-color:#fa5252;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 section.newDailyForm .heading label{
     display: inline;
     width: 100%;
     text-align: center;
     color: white;
     font-size: 1.6rem;
     font-weight: normal;
     cursor: pointer;
 }
 section.newDailyForm form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 60%;
     height: 90%;

 }

 section.newDailyForm form > div{
      margin: 10px 0px;
      display: flex;
      flex-direction: column;
      width: 100%;
 }

 section.newDailyForm form > div input,
 section.newDailyForm form > div select{
      border: none;
      border-bottom: solid 1px #eaeaea;
      outline: none;
      margin-top: 10px;
      padding: 0px 0px 10px 0px;
      
 }

 section.newDailyForm form > div input:focus,
 section.newDailyForm form > div select:focus{
     transition: all 0.3s ease;
     border-bottom: solid 2px rgb(247, 107, 83);

}


 section.newDailyForm form .dia{
 }
 section.newDailyForm form .dia{}
 section.newDailyForm form .dia{}

 section.newDailyForm form .title{}
 section.newDailyForm form .title{}

  
 section.newDailyForm label.imagen{
    
 }
 section.newDailyForm form .imagen{}


 section.newDailyForm form .submit{
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fa5252;
      border-radius: 25px;
 }

 section.newDailyForm form .submit button {
     border: none;
     background: none;
     color: white;
     font-size: 1.2rem;
     width: 100%;
     height: 100%;
     cursor: pointer;
 }
 section.newDailyForm {}
 section.newDailyForm {}



