@import url(/stylesheets/header.css);
@import url(/stylesheets/dailyView.css);
@import url(/stylesheets/dailyUiIndex.css);
@import url(/stylesheets/newDailyForm.css);
@import url(/stylesheets/overview.css);
@import url(/stylesheets/footer.css);


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: -apple-system, 
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen-Sans, 
                Ubuntu, 
                Cantarell, 
                "Helvetica Neue", 
                sans-serif;
  font-size: 16px;
  text-decoration: none;

}

a {
  color: #7ac9e9;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353535;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 240, 240);
  height: 90%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(238, 106, 106);

}


