
body main section.users{
     display: flex;
     flex-direction: column;
     width: 100%;
     align-items: center;
     align-self: center;
     min-height: 50vh;
     color: #494848;
     margin-bottom: 20px;
}

body main section.users form {
     width: 40%;
}


body main section.users div{
     display: flex;
     justify-content: flex-start;
     
}
body main section.users div.containerField {
     width: 100%;
     display: flex;
     flex-direction: column;
     margin: 20px 0px;
}

body main section.users div.field {
     margin: 10px 0px;
     height: 40px;
     display: flex;
     align-items: center;
     position: relative;
     overflow: hidden;
}

body main section.users div input{
     border: none;
     width: 100%;
     height: 100%;
     background: none;
     padding-top: 15px;
     position: absolute;
     color: #302f2f;
     outline: none;
}


body#adminDark main section.users div input{
     color: #e9e9e9;
     background: none;
}

body main section.users div input:focus + label span,
body main section.users div input:valid + label span{
     transform: translateY(-100%);
     color: dodgerblue;
     font-size: 14px
}

body main section.users div input:focus + label::after,
body main section.users div input:valid + label::after{
     transform: translatex(0%);
}

body main section.users div.field label{
     border: none;
     width: 100%;
     height: 100%;
     position: absolute;
     bottom: 0px;
     pointer-events: none;
     border-bottom:solid 1px #4b4a4a;
}

body#adminDark main section.users div.field label{
     border-bottom:solid 1px #e9e9e9;
}

body main section.users div.field label::after{
     content: "";
     position: absolute;
     left: 0px;
     bottom: -1px;
     width: 100%;
     height: 100%;
     border-bottom: solid 2px dodgerblue;
     transform: translateX(-101%);
     transition: transform 0.4s ease;

}
body main section.users div.field label span{
     position: absolute;
     bottom: 5px;
     left: 0px;
     transition: all 0.3s ease;
}


form div small,
form div small a {
     font-size: 14px;
}

form div.button{
     width: 100%;
     height: 30px;
     position: relative;
     border-radius: 40px;
     overflow: hidden;
     display: flex;
     justify-content:flex-end ;
     z-index: 1;

}

form div.button button {
     width: 100%;
     height: 100%;
     border: none;
     cursor: pointer;
     background-color: dodgerblue;
     border-radius: 20px;
     text-align: center;
     transition: background-color 0.3s ease;
     color:#e9e9e9
}
form div.button button:active{
     outline: none;
}

form div.button button::after{
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0px;
     bottom: 0;
     border-bottom: solid 2px #eb5757;
     z-index: 0;
     border-radius: 20px;
     transform: translateX(-120%);
     transition: transform 0.3s ease;
}

form div.button button:hover{
     z-index: 2;
     background-color: #449cf5;
     color:white
}

/* form div.button:hover button::after{
     transform: translateX(0%);
} */

