
<section class="dailyUi">
<% for (let i=0; i<baseDatos.length; i++) { %> 
     
     <!--DailyCards-->
   
<div class="boxCard">
     <a href="/dailies/<%=(i+1)%>" class="boxLink">
       <div class="contenedorImagen">

           <img src=<%=`${baseDatos[i].imagen}`%> alt="">

       </div>
       <div class="infoCaja">
           <h3>Daily UI <%= baseDatos[i].numeroDia %></h3>
           <p><%= baseDatos[i].title %></p>
       </div>
     </a>
   </div>
<% }%> 
</section>