
    <section class="dailyView">
        <div class="backlink">
            <a href="/dailies/daily"><i class="fas fa-chevron-left"></i> Dailies</a>
        </div>
        
        <div id="contenedorCard">

           <img src=<%= imagen %> alt="" />

        </div>
        <div class="description">
            <h1>Lorem.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, minima id? Neque eligendi maxime, eveniet illo labore cumque iste nesciunt?</p>
        </div>

    </section>
  