
          <div class="logo">
              <a id="facundoGarcia" href="/">#facundoGarcia</a>
          </div>
     
          <div class="dailyUi">
              <a href="">Daily UI<i class="fas fa-chevron-down"></i></a>
          </div>
     
          <div class="contactMe">
            <a href=""><i class="fas fa-inbox"></i></a>
          <a href="/abm"><i class="fas fa-folder "></i></a>
          <a href="/"><i class="fas fa-user "></i></a>
          <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
          </div>
   
