
          <div class="logo">
              <a id="facundoGarcia" href="#">#facundoGarcia</a>
          </div>
     
          <div class="dailyUi">
              <a href="">Daily UI<i class="fas fa-chevron-down"></i></a>
          </div>
     
          <div class="contactMe">
               <%- include('./contactMe') %>
          </div>
   
