

     <section class="quotes">
     <% if (quote) {  %> 
     <% let i = Math.floor(Math.random() * quote.length)%>
     
          <h1>Quote:<%= quote && quote.quote %> </h1>
          <h3>Movie:<%= quote && quote.movie %></h3>
          <h4>Year:<%= quote && quote.year %></h4>
     </section>
     <% } else { %>
     
          <h3>Choose a new quote</h3>
          <a href="/quotes/<%= Math.floor(Math.random() * 600);%> ">CLICK</a>
     </section>
     <% } %> 

